
/** ADD YOUR AWESOME CODES HERE **/

.seccion-informacion{
    display: flex;    
    justify-content: space-around;
    width: 100%;
}
.info-general{
    flex-grow: 4;
    
}

.info-noticias{
    box-sizing: border-box;
    display:flex;
    flex-grow:1;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(280deg,#fff, #ffe, #fdcaff);
    padding: 10px;
    height: 1100px;
    width: 350px;
    overflow-y: auto;
    
}

.info-noticias .card-noticia{
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 25px;
    width: 100%;
    padding: 2px;
    
}

.info-noticias .card-noticia img{
    width: 100%;
}

.info-noticias .card-noticia p{
    width: 100%;
    padding: 2px;
}

.aliados{
    display:flex; flex-flow:row wrap; justify-content: center; align-items:center; padding:20px; gap:0.5em;
    box-sizing: border-box; width: 100%;
}

.aliados img{
    width: 9%;
    /*height: 120px;*/
}

.btnIrArriba{
    background-color: #c0000043;
    color: #ffe;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    padding: 10px;
    height: 35px;
    width: 35px;
    box-shadow: 0px 0px 5px rgba(250,250,250,0.5);
}
.btnIrArriba:hover{
    background-color: forestgreen;
    color: #fff;
    transform: ease scale(1.5);
}

.footer{
    display: flex;
    justify-content: center;
    flex-flow:column nowrap;
    background: linear-gradient(245deg,#c00000,#ed3237);
    color: #fff;
    text-align: center;
    padding: 60px;
    box-sizing: border-box;
}

.barraContactoLateral{
    position: fixed;
    top: 20%;
    right: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    padding: 10px;
    text-shadow: 0px 2px 5px rgba(250,250,250,0.6);
    z-index: 1500;
}